@import "_normalize";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body{
  color: #FFF;
  font-family: 'Roboto Mono', monospace;
}
// starry sky background
.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index: -2;
}
.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
@-webkit-keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}
@keyframes move-twink-back {
  from {background-position: 0 0;}
  to {background-position: -10000px 5000px;}
}
.stars, .twinkling{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
// main  part  styling
.container{
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  #app{
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
  }
}
#intro{
  width: 100%;
  img{
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  h1{
    text-align: center;
    font-size: 4vw;
    margin: 5% 0;
  }
  #sort-btns{
    position: absolute;
    top: 5%;
    right: 5%;

    span{
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
      width: 20px;
      height:20px;
      display: block;
      margin: 0 auto;
    }
    #ascending span{
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
    }
    #descending span{
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
.movies{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  li{
    position: relative;
    margin: 4% 0;
    h3{
      text-align: center;
      font-size: 27px;
      margin-bottom: 10%;
    }
    img{
      width:70%;
      display: block;
      margin: 0 auto;
    }
    .rating-box{
      position: absolute;
      bottom: 43%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      .rating {
        unicode-bidi: bidi-override;
        direction: rtl;
        width: 67%;
        text-align: right;
        span {
          display: inline-block;
          position: relative;
          width: 14%;
          font-size: 27px;
        }
      }
      p{
        font-size: 14px;
        margin-left: 1px;
        -ms-flex-item-align: end;
        align-self: flex-end;
      }
    }
  }
}
.poster-active{
  opacity: 0.2;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  color: gold;
}
.rating[data-stars="1"] span:nth-child(5):before {
  content: "\2605";
  position: absolute;
  color: gold;
}.rating[data-stars="2"] span:nth-child(n+4):before {
   content: "\2605";
   position: absolute;
   color: gold;
 }.rating[data-stars="3"] span:nth-child(n+3):before {
    content: "\2605";
    position: absolute;
    color: gold;
  }.rating[data-stars="4"] span:nth-child(n+2):before {
     content: "\2605";
     position: absolute;
     color: gold;
   }.rating[data-stars="5"] span:before {
      content: "\2605";
      position: absolute;
      color: gold;
    }
.thank-you-page{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.81);
  display: none;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 4;
  -webkit-animation:
          showMe 1s ease,
          hideMe 1s ease 2s forwards;
  animation:
          showMe 1s ease,
          hideMe 1s ease 2s forwards;
  p{
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 6.5vw;
  }
}
@-webkit-keyframes showMe {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0;
  }
}
@keyframes showMe {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0;
  }
}
@-webkit-keyframes hideMe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }
}
@keyframes hideMe {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    border-radius: 0;
  }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    border-radius: 50%;
  }
}


@media screen and (min-width: 769px){
  .container{
    height: 100vh;
  }
  #intro{
    img{
      width: 20%;
    }
    h1{
      font-size: 25px;
      margin: 0;
    }
  }
  .movies{
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    li {
      .rating-box {
        .rating {
          width: 66%;
          span {
            font-size: 36px;
          }
        }
        p {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
  }
  .thank-you-page{
    p{
      font-size: 50px;
    }
  }

}